<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>DermaDoc</title>
</head>
<body>
    <h2>DermaDoc</h2>
    <p>Welcome to DermaDoc. Upload an image and let the system detect the disease.</p>
    <form action="/dermadoc" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload and Process">
    </form>
    
    {% if image_path %}
    <h3>Processed Image:</h3>
    <img src="{{ url_for('uploaded_file', filename=image_path.split('/')[-1]) }}" alt="Processed Image">
    {% endif %}
</body>
</html>
